<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">SteamScore</h1>
    <h2>a community-built service currently tracking</h2>
    <div class="ui inverted statistics">
      <div class="statistic">
        <div class="value">0</div>
        <div class="label">Achievements</div>
      </div>
      <div class="statistic">
        <div class="value">0</div>
        <div class="label">Games</div>
      </div>
      <div class="statistic">
        <div class="value">0</div>
        <div class="label">Users</div>
      </div>
    </div>
  </div>
</div>
<div class="content ui container">
  <h3 class="ui dividing header">Latest News</h3>
  <div class="ui feed">
    <div class="event">
      <div class="label">
        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/00fc373242524065eb8a9464bc72e035d2b65f3b_full.jpg">
      </div>
      <div class="content">
        <div class="summary">
          <a>jyggen</a> posted an announcement
          <div class="date">
            3 days ago
          </div>
        </div>
        <div class="extra text">
          Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 5 Likes
          </a>
        </div>
      </div>
    </div>
    <div class="event">
      <div class="label">
        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/00/00fc373242524065eb8a9464bc72e035d2b65f3b_full.jpg">
      </div>
      <div class="content">
        <div class="summary">
          <a>jyggen</a> posted an announcement
          <div class="date">
            3 days ago
          </div>
        </div>
        <div class="extra text">
          Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 5 Likes
          </a>
        </div>
      </div>
    </div>
  </div>
</div>